BODY {
    background-color: black;
    overflow: hidden;
    margin: 0;
}

#root {
    background-color: white;
    overflow: hidden;
    position: absolute;
}

.item {
    text-align: center;
    border-radius: 50%;
    background-color: #cec;
    color: #000;
    font-family: Lexend;
    position: absolute;
}

.itemSubText {
    color: #666;
    font-family: Lexend;
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -90%);
  transform: translate(-50%, -90%);
}

.withoutContent {
    opacity: 0.8;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#title {
    color: #000;
    font-family: Lexend;
    position: absolute;
}