BODY {
    background-color: white;
    overflow: hidden;
}

.item {
    text-align: center;
    border-radius: 50%;
    background-color: #cec;
    color: #000;
    font-family: Lexend;
    position: absolute;
}

.withoutContent {
    opacity: 0.8;
}

.highlight {
    border: 0.5mm solid #080;
    background-color: #efe;
}

.dim {
    background-color: #aca;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#title {
    color: #000;
    font-family: Lexend;
    position: absolute;
}